{% load static %}

<header class="pt-4 md:pt-6 pb-4 md:pb-6 w-full">
  <div class="px-4 sm:px-6">
    <div class="mx-auto max-w-3xl">
      <div class="flex justify-between items-center gap-x-2 px-3 h-12">
        <div class="flex justify-center">
          <ul class="flex items-center sm:gap-x-2 font-medium text-sm">
            <li>
              <a class="hover:bg-stone-200 dark:hover:bg-stone-800 px-3 py-1.5 rounded-lg text-gray-800 dark:text-gray-200 transition-colors" href="{% url 'core:index' %}">Home</a>
            </li>
            <li>
              <a class="hover:bg-stone-200 dark:hover:bg-stone-800 px-3 py-1.5 rounded-lg text-gray-800 dark:text-gray-200 transition-colors" href="{% url 'core:projects' %}">Projects</a>
            </li>
            <li>
              <a class="hover:bg-stone-200 dark:hover:bg-stone-800 px-3 py-1.5 rounded-lg text-gray-800 dark:text-gray-200 transition-colors" href="{% url 'blog:post_list' %}">Blog</a>
            </li>
            <li>
              <a class="hover:bg-stone-200 dark:hover:bg-stone-800 px-3 py-1.5 rounded-lg text-gray-800 dark:text-gray-200 transition-colors" href="{% url 'core:about' %}">Now</a>
            </li>
            <li>
              <a class="hover:bg-stone-200 dark:hover:bg-stone-800 px-3 py-1.5 rounded-lg text-gray-800 dark:text-gray-200 transition-colors" href="{% url 'core:contact' %}">Contact</a>
            </li>
            {% if user.is_admin %}
            <li>
              <a class="hover:bg-stone-200 dark:hover:bg-stone-800 px-3 py-1.5 rounded-lg text-gray-800 dark:text-gray-200 transition-colors" href="admin/">Admin</a>
            </li>
            {% endif %}
          </ul>
        </div>
        <div class="flex">
          <input type="checkbox" name="light-switch" id="light-switch" class="light-switch sr-only" />
            <label class="p-2 cursor-pointer" for="light-switch">
              <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                <path class="dark:fill-gray-500 fill-gray-400" d="M9 0H7v2h2V0ZM14.294 3.052 12.88 1.637 11.466 3.05l1.413 1.414 1.415-1.413ZM16 7h-2v2h2V7ZM11.535 13.02l1.415 1.413 1.414-1.415-1.415-1.413-1.414 1.414ZM9 14H7v2h2v-2ZM1.566 12.948l1.414 1.415 1.415-1.413-1.414-1.415-1.415 1.413ZM2 7H0v2h2V7ZM4.465 3.12 3.05 1.707 1.636 3.12l1.415 1.414L4.465 3.12Z" />
                <path class="dark:fill-gray-200 fill-gray-800" d="M8 4C5.8 4 4 5.8 4 8s1.8 4 4 4 4-1.8 4-4-1.8-4-4-4Z" />
              </svg>
              <span class="sr-only">Switch to light / dark version</span>
            </label>
        </div>
      </div>
    </div>
  </div>
</header>