<section>
  <div class="mx-auto px-8 py-12 max-w-3xl">
    <h2 class="font-medium text-2xl text-neutral-900 sm:text-4xl dark:text-white tracking-tight">Hire me</h2>
    <p class="mt-4 text-neutral-500 text-sm dark:text-neutral-400">I am available for freelance work in the following areas:</p>
    <div class="border-neutral-200 dark:border-neutral-700 mt-4 pt-12 border-t">
      <p class="text-neutral-500 text-pretty text-sm dark:text-neutral-400">You can hire me to design your website, app, or any other digital product. I have a wide range of skills and experience in UI/UX design, including wireframing, prototyping, and visual design.</p>
      <ul class="mt-4 text-neutral-500 text-sm dark:text-neutral-400 list-disc list-inside" role="list">
        <li>UI/UX Design</li>
        <li>Full-Stack Development</li>
        <li>Branding</li>
        <li>Content Strategy</li>
        <li>Branding</li>
      </ul>
      <div class="flex flex-wrap justify-end border-neutral-200 dark:border-neutral-700 mt-6 pt-6 border-t">
        <a class="text-neutral-500 text-sm hover:text-blue-400 dark:text-neutral-50 duration-200 group" href="/studio/home" title="your title" aria-label="your label"> Learn more about my services → </a>
      </div>
    </div>
  </div>
</section>
