{% extends '_base.html' %}

{% load static %}
{% block title %}Now{% endblock %}

{% block content %}

<section>
  <div class="mx-auto px-8 py-12 max-w-3xl">
    <h2 class="font-medium text-2xl text-neutral-900 sm:text-4xl dark:text-white tracking-tight">Snippets</h2>
    <p class="mt-4 text-neutral-500 text-sm dark:text-neutral-400">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus eaque quo dolorum tempore, assumenda enim cumque voluptas atque maxime esse cupiditate reiciendis cum magni nemo laudantium tenetur sapiente eligendi! Porro.</p>
  </div>
</section>

{% endblock content %}
